body{
	background: #f2f2f2;
}
a{
text-decoration: none;
color:black;

}
@media (max-width: 420px) {
	.container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
	}
	.container-central{
		display: flex;
		justify-content: space-around;
		flex-direction: column; 
		margin: 1rem;
	}

	.titulo-tela{
		display: flex;
		justify-content: center;
		font-family: 'Lora', sans-serif;
		font-size: 3rem;
		background: none;
	}
	.coluna{
		flex-direction: column;
		display: flex;
		padding: .5rem;
	}
	.dentro{
		margin: .5rem;
	}
	.lista{
		
		padding-left:0.5rem;
	}
	.estoque{
		padding-top:2rem;
		justify-content: center;
		font-family: 'Assistant', serif;
		font-size: 1.5rem;
		flex-grow: 1;
		margin:0.5rem;

	}
	
	.container-estoque-imagem{
		flex-grow:1;
		position: fixed;
		top: 10;
		left: 0;
		right: 75%;
		bottom: 20;
		display: flex;
		flex-direction: wrap-reverse;
	}
	.imagem-quant{
		max-height: 1rem;
		width: auto;
	}
	text{
		padding-left: 0.2rem;
		font-size:1.3rem;
	}
	.container-estoque-item{
		flex-grow:1;
		position: fixed;
		top: 10;
		left: 25%;
		right: 0;
		bottom: 20;
		display: flex;
		flex-direction: column;	
		justify-content: space-around;
	}
	.estoque-item{
		padding-left: 1.5rem;
	}
	.container-caixa-texto{
		padding-top: 10rem;
		display: flex;		
		font-size: 1.5rem;
		font-family:'Assistant',serif;

	}
	.container-senha{
		display: flex;
		flex-direction: column;
	}
	input[type="text"] {
		border: 2px solid;
		color: #4c4c4c;
		border-radius: 1rem;
	}
	input[type="password"]{
		border: 2px solid; 
		color: #4c4c4c;
		border-radius: 1rem;
	}
	input[type="number"]{
		border: 2px solid; 
		width: 1.5rem;
		color: #4c4c4c;
		border-radius: 1rem;

	}	
	.caixa-texto{
		display: flex;
		flex-direction: column-reverse;
	}
	.header{
		display:  flex;
		width: 100%
	}

	.navi{
		display: flex;
		margin:1rem;
		position: fixed;
		bottom: 0px;
	}
	
	.logo{
		width: 100%;
	}

	input[type="button"] {
		-webkit-appearance: button;
		cursor: pointer;
	}
	.produtos_feitos{
		margin-left: 0.5rem;
	}
	p{
		display: flex;
		font-family: 'Lora', sans-serif;
		font-size: 1.5rem;
		background: none;
		margin-bottom: 0.5rem;
		margin-top:0.5rem;
	}
	number{
		padding-right:0.5rem;
	}
}