body{
	background: #f2f2f2;
}
a{
text-decoration: none;
color:black;

}
@media (max-width: 420px) {
	.container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
	}
	
	.container-central{
		display: flex;
		justify-content: space-evenly;
		flex-direction: column; 
		flex-grow: 1;
		font-size: 1.5rem;
		font-family: 'Assistant', sans-serif;
		margin: 1rem;
	}

	.titulo-telas{
		display: flex;
		font-family: 'Assistant', sans-serif;
		justify-content: center;
		font-size: 1.5rem;
		background: none;
	}

	.estoque{

	}







	.header{
		display:  flex;
		width: 100%
	}

	.navi{
		display: flex;
		margin:1rem;
		position: fixed;
		bottom: 0px;
	}
	
	.logo{
		width: 100%;
	}

}