body{

	background: #f2f2f2;
}
a{
text-decoration: none;
color:black;

}
@media (max-width: 420px) {
	.elemento_home{
		padding: 2rem;
		background-color:#cacaca;
		justify-content: center;
		display: flex;
		margin:2.5rem 2rem;
		font-family: 'Assistant', sans-serif;
		font-size:2rem;
	}


	.funcionalidades_home{
	}

	.sub_menu2{
		color:#EDF0FF;
	}

	.header{
		display:  flex;
		width: 100%
	}

	.navi{
		display: flex;
		margin:1rem;
	}

	.logo{
		width: 100%;
	}

}