body{
	background: #f2f2f2;
}
a{
text-decoration: none;
color:black;

}
@media (max-width: 420px) {
	.container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
	}
	.img_pedidos{
		object-fit:contain;
		top: 2em;
		position: relative;
		right: .2rem;
	}

	.sub_menu2{
		color:#EDF0FF;
	}

	.header{
		display:  flex;
		width: 100%
		object-fit:contain;
		max-height: 100%
	}
	.finalizar{
		padding: 1rem;
		border:solid;
	}
	.titulo_mesa{
		font-size: 	2rem;
		font-family: 'Assistant', sans-serif;
		display: 	flex;	
		padding: 	0rem;
		margin: .9rem;
		margin-top: .4rem

	}
	.escolha_da_mesa{
		justify-content: 	space-around;	
		display: 	flex;	
		font-size: 	1.5rem;
		margin: 0 0.8rem;
	}
	.mesa_1, .mesa_2, .mesa_3, .mesa_4, .mesa_5, .mesa_6, .mesa_7, .mesa_8{
		padding: .1rem;
		padding-left: 	.5rem; 	
		padding-right: 	.5rem; 	
		border:solid;
		border-color: black;
		font-family: 'Assistant', sans-serif;
		display: flex;
		transition: 0.3s;
	}
	.ativo{
		color: white;
		background: #4c4c4c
	}
	.me_1:hover .mesa_1{
		color: white;
		background: #4c4c4c
	}

	.me_2:hover .mesa_2{
		color: white;
		background: #4c4c4c
	}
	.me_3:hover .mesa_3{
		color: white;
		background: #4c4c4c
	}
	.me_4:hover .mesa_4{
		color: white;
		background: #4c4c4c
	}
	.me_5:hover .mesa_5{
		color: white;
		background: #4c4c4c
	}
	.me_6:hover .mesa_6{
		color: white;
		background: #4c4c4c
	}
	.me_7:hover .mesa_7{
		color: white;
		background: #4c4c4c
	}
	.me_8:hover .mesa_8{
		color: white;
		background: #4c4c4c
	}

	.row{
		flex-direction: row;
	}
	.eta:focus{
    	color:red;
	}
	.parte_inferior{
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size:2rem;
		position: relative;
		bottom: 1.5rem;

	}
	.navi{
		display: flex;
		margin:1rem;
		position: relative;
		bottom: 0px;
	}
	.invert{
		filter: invert(100%);
	}
	.logo{
		width: 100%;
	}

	.titulo_pessoa{
		display: flex;
		font-family: 'Assistant', sans-serif;
		justify-content: center;
		font-size: 1.5rem;
		background: none;
	}
	.parte_interna_bolo, .parte_interna_cafe, .parte_interna_suco, .parte_interna_mousse{
		display: none;
		flex-direction:column;
	}
	.bolo:hover .parte_interna_bolo{
		display: flex;
		font-size: 1.2rem;
		font-style: italic;
		padding: .5rem;
		padding-left: 1rem;
	}

	.cafe:hover .parte_interna_cafe{
		display: flex;
		font-size: 1.2rem;
		font-style: italic;
		padding: .5rem;
		padding-left: 1rem;
	}

	.suco:hover .parte_interna_suco{
		display: flex;
		font-size: 1.2rem;
		font-style: italic;
		padding: .5rem;
		padding-left: 1rem;
	}
	.mousse:hover .parte_interna_mousse{
		display: flex;
		font-size: 1.2rem;
		font-style: italic;
		padding: .5rem;
		padding-left: 1rem;
	}
	
	.container_central{
		display: flex;
		justify-content: space-evenly;
		flex-direction: column; 
		flex-grow: 1;
		font-size: 1.5rem;
		font-family: 'Assistant', sans-serif;
		margin: 1rem;
	}
	.menu{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
}