body{
	background: #f2f2f2;
}
a{
text-decoration: none;
color:black;

}
@media (max-width: 420px) {
	.container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
	}

	.sub_menu2{
		color:#EDF0FF;
	}

	.header{
		display:  flex;
		width: 100%
	}

	.navi{
		display: flex;
		margin:1rem;
/*		position: fixed;
		bottom: 0px;
	*/}

	.logo{
		width: 100%;
	}

	.titulo_pessoa{
		display: flex;
		font-family: 'Assistant', sans-serif;
		justify-content: center;
		font-size: 1.5rem;
		background: none;
	}
	.bolo{
		
	}
	.parte_interna{
		font-size: 1.2rem;
		font-style: italic;
		padding: .5rem;
		padding-left:1rem;
	}
	.container_central{
		display: flex;
		justify-content: space-evenly;
		flex-direction: column; 
		flex-grow: 1;
		font-size: 1.5rem;
		font-family: 'Assistant', sans-serif;
		margin: 1rem;
	}
}