body{
	background: #f2f2f2;
}
a{
text-decoration: none;
color:black;

}
@media (max-width: 420px) {
	.container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
	}
	.img_pedidos{
		object-fit:contain;
		top: 0em;
		position: fixed;
	}

	.sub_menu2{
		color:#EDF0FF;
	}

	.header{
		display:  flex;
		width: 100%
		object-fit:contain;
		max-height: 100%
	}
	.finalizar{
		padding: 1rem;
		border:solid;
	}
	.parte_inferior{
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size:2rem;

	}
	.navi{
		display: flex;
		margin:1rem;
		position: fixed;
		bottom: 0px;
	}

	.logo{
		width: 100%;
	}

	.titulo_pessoa{
		display: flex;
		font-family: 'Assistant', sans-serif;
		justify-content: center;
		font-size: 1.5rem;
		background: none;
	}
	.parte_interna_bolo, .parte_interna_cafe, .parte_interna_suco, .parte_interna_mousse{
		display: none
	}
	.bolo:hover .parte_interna_bolo{
		display: flex;
		font-size: 1.2rem;
		font-style: italic;
		padding: .5rem;
		padding-left: 1rem;
	}

	.cafe:hover .parte_interna_cafe{
		display: flex;
		font-size: 1.2rem;
		font-style: italic;
		padding: .5rem;
		padding-left: 1rem;
	}

	.suco:hover .parte_interna_suco{
		display: flex;
		font-size: 1.2rem;
		font-style: italic;
		padding: .5rem;
		padding-left: 1rem;
	}
	.mousse:hover .parte_interna_mousse{
		display: flex;
		font-size: 1.2rem;
		font-style: italic;
		padding: .5rem;
		padding-left: 1rem;
	}
	
	.container_central{
		display: flex;
		justify-content: space-evenly;
		flex-direction: column; 
		flex-grow: 1;
		font-size: 1.5rem;
		font-family: 'Assistant', sans-serif;
		margin: 1rem;
	}
	.menu{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
}