body{
	background: #f2f2f2;
}
a{
text-decoration: none;
color:black;

}
@media (max-width: 420px) {
	.container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
	}

	.header{
		display:  flex;
		width: 100%
	}

	.menu{
		padding-bottom: 7rem;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
	}

	.camera{
		display: flex;
		justify-content: center;
		margin: 2rem;
	}

	.receitas{
		margin: 2rem;
		bottom: 1px;
	}

	.elemento_receita{
		text-align: center;
		padding-top: .5rem;
		padding-bottom: .5rem;
		padding-left: 4rem;
		padding-right: 4rem;
		margin: 1.5rem;
		bottom: 1px;
		font-family: 'Assistant', sans-serif;
		font-size: 1.2rem;
		background-color: #a5a6aaa9;
		border-style: solid;
		border-color: black;
		border-width: .5px;
	}

	.navi{
		display: flex;
		margin:1rem;
		position: fixed;
		bottom: 0px;
	}

	.logo{
		width: 100%;
	}

	.snap{
		display: flex;
		justify-content: center;
	}
	
}